@model Entities.Subject


<div>
    <h1>
        <u>
            <strong>Edit Subject</strong>
        </u>
    </h1>
</div>

<div>
    <form method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="titleId">Title</label>
            <input id="titleId" class="form-control" type="text" name="title" value="@(Model?.Title)" placeholder="Give title" />
            @Html.ValidationMessageFor(s => s.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="hidden" name="subjectId" value="@Model.SubjectId" />
            <input class="btn btn-success" type="submit" value="Save" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-primary" style="width:100px" href="/Subject/index">Back</a>
</div>