@model IEnumerable<Entities.Subject>


<div>
    <h1>
        <u>Subjects</u>
    </h1>
</div>

@if (TempData["subjectMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["subjectMessage"]
    </div>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var subject in Model)
            {
                <tr>
                    <td>@subject.SubjectId</td>
                    <td>@subject.Title</td>
                    <td>
                        <div class="row align-items-end">
                            
                            <div class="form-group col-5 col-md-2 ">

                                <div class="form-group">
                                    <a class="btn btn-success" href="/Subject/Edit?id=@subject.SubjectId">Edit</a>
                                </div>

                            </div>

                            <div class="form-group col-5 col-md-2">

                                <form method="post" action="/Subject/Delete">
                                    <input type="hidden" name="id" value="@subject.SubjectId" />
                                    <input class="btn btn-danger" type="submit" value="Delete" />
                                </form>

                            </div>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-primary" href="/Subject/Create">Create Subject</a>
</div>